# Base de données PostgreSQL
POSTGRES_USER=pentest
POSTGRES_PASSWORD=CHANGE_ME_IN_PROD
POSTGRES_DB=pentest_toolbox
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis (Broker Celery)
REDIS_URL=redis://redis:6379/0

# MinIO (Stockage Artefacts)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=CHANGE_ME_IN_PROD
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET_NAME=artifacts

# Sécurité API Flask
SECRET_KEY=CHANGE_WITH_SECRETS_TOKEN_HEX
FERNET_KEY=CHANGE_WITH_FERNET_GENERATE_KEY
